.home-container {
    background: linear-gradient(-45deg, #5a52ee, #8252fb, #23a6d5);
    background-size: 100%;
    padding: 0 !important;
    /* animation: gradient 15s ease infinite; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}